:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: "Helvetiva", Helvetica, sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

header img {
    height: 35px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

.main-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0, 0, 0, 0.50)100%),url("images/rupaul-background.jpg");
    height: 550px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-title {
    margin: 0px 0 25px 60px;
    font-size: 40px;
}

.button {
    margin: 0px 0 25px 60px;
}

.description {
    width: 40%;
    margin: 0px 0 25px 60px;
}

.button {
    background-color: rgba(65, 65, 65, 0.5);
    color: white;
    font-size: 14px;
    border-width: 0;
    padding: 10px 25px;
    border-image: none;
    border-radius: 2.5%;
    transition: .2s ease all;
}

.button:hover {
    background-color: rgb(211, 211, 211);
    color: var(--preto);
    font-weight: bold;
}

.button i {
    margin-right: 5px;
}